name: CI # Continuous Integration

on: [push, pull_request]

jobs:

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Install libgtk  for rfd
        run: sudo apt-get install -y libgtk-3-dev 
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Run tests
        run: cargo test --all-features --workspace

  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Install libgtk  for rfd
        run: sudo apt-get install -y libgtk-3-dev 
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: Check formatting
        run: cargo fmt --all --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Install libgtk  for rfd
        run: sudo apt-get install -y libgtk-3-dev 
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Clippy check
        run: cargo clippy --all-features --workspace

  docs:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - name: Install libgtk  for rfd
        run: sudo apt-get install -y libgtk-3-dev 
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Check documentation
        env:
          RUSTDOCFLAGS: -D warnings
        run: cargo doc --no-deps --document-private-items --all-features --workspace

  hack:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Install libgtk  for rfd
        run: sudo apt-get install -y libgtk-3-dev 
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
      - name: cargo install cargo-hack
        uses: taiki-e/install-action@cargo-hack
      - uses: Swatinem/rust-cache@v2
      - name: Check for all features
        run: cargo hack --feature-powerset check

  # wasm:
  #   name: Wasm
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Install libgtk  for rfd
  #       run: sudo apt-get install -y libgtk-3-dev 
  #     - uses: actions/checkout@v4
  #       with:
  #         submodules: true
  #     - name: Install stable
  #       uses: dtolnay/rust-toolchain@stable
  #       with:
  #         target: wasm32-unknown-unknown
  #     - uses: Swatinem/rust-cache@v2
  #     - name: Check for target wasm webgpu
  #       env:
  #         RUSTFLAGS: --cfg=web_sys_unstable_apis
  #       run: cargo check --target wasm32-unknown-unknown
